<configuration>

    <property name="LOGS" value="./logs" />

    # Console appender
    <appender name="stdout"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %highlight(%-5level) [%blue(%t)] %yellow(%C#%method:%line): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    # File appender
    <appender name="fout" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--        <file>app.log</file>-->
        <append>true</append>

        <encoder>
            <pattern>%d [%-5level] [%thread] %logger#%method:%line: %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app_%d{yyyy-MM-dd}.log</fileNamePattern>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
    </appender>

<!--    # Override log level for specified package-->
    <logger name="com.dpavlovich" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="fout" />
    </root>
</configuration>